html {
    font-size: 62.5%
}

/* Big Tablets and Above: 1024px to 1200px */ 
@media (max-width: 1200px) {
    .timeline {
        width: 100%;
    }
    .text-box-primary {
        font-size: 12rem;
    }
}


/* Small Tablets to Big Tablets: 768px to 1023px */ 
@media (max-width: 1023px) {
    .mainnav ul li {
        padding: 1.5rem 2rem;
        margin-left: 1rem;
        display: inline-block;
        visibility: hidden;
    }
    .text-box-primary {
        font-size: 12rem;
    }
    .text-box-primary:hover .hidden {
        opacity: 0;
        max-width: 0rem;
    }
    .text-box-sub {
        font-size: 1.6rem;
        letter-spacing: 1rem;
        font-weight: 400;
    }
    .middle-mouse {
        visibility: hidden;
    }
    .middle-swipe {
        visibility: visible;
    }
    .about .row {
        padding: 0 1rem;
    }
    .tech-imgs-block ul li {
        display: inline-block;
        padding: 0 2.5rem;
    }

}



/* Small Phones to Small Tablets: 481px to 767px */ 
@media (max-width: 767px) {
    nav {
        visibility: hidden;
    }
    .about .row {
        padding: 0 2rem;
    }
    .tech-imgs-block ul li {
        display: inline-block;
        padding: 0 1.5rem;
    }
    .text-box-sub {
        font-size: 1.7rem;
        letter-spacing: 0.5rem;
        font-weight: 400;
    }
    .middle-mouse {
        visibility: hidden;
    }
    .middle-swipe {
        visibility: visible;
    }
    .timeline {
        width: 100% !important;
        padding-bottom: 0!important;
    }
    .timeline::before {
        left: 2rem !important;
    }
    .timeline li:nth-child(odd),
    .timeline li:nth-child(even) {
        width: 100% !important;
        text-align: left !important;
        padding-left: 5rem !important;
        padding-bottom: 3rem !important;
    }
    .timeline li:nth-child(4) {
        padding-bottom: 0 !important;
    }

    .timeline h3 {
        margin-top: 3rem !important;
        font-size: 1.8rem;
    }
    .timeline li:nth-child(odd)::before,
    .timeline li:nth-child(even)::before {
        top: 1rem !important;
        left: 1.5rem  !important;
        right: inherit  !important;
    }
    .timeline li:nth-child(odd) .time,
    .timeline li:nth-child(even) .time {
        top: 0 !important;
        left: 5rem !important;
        right: inherit !important;
    }
    .note {
        color: #dfe6e9;
        text-align: center;
        padding-top: 5rem;
        font-style: italic;
        font-size: 1.6rem;
        font-weight: 400;
    }
}

@media only screen and (max-width: 680px) {
    .span-1-of-4 {
        width: 100%;
    }
    .span-3-of-4 {
        width: 100%;
    }
    .profile-img {
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    .about-text {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.3rem;
    }
}

/* Small Phones: 0 to 480px */ 
@media (max-width: 480px) {
    header {
        height: 95vh;
    }
    section {
        padding: 5rem 0;
    }
    .text-box-primary{
        cursor: default;
    }

    .text-box-sub {
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        font-weight: 400;
    }

    .text-box-primary:hover .hidden {
        opacity: 0;
        max-width: 0rem;
    }
    .middle-mouse {
        visibility: hidden;
    }
    .middle-swipe {
        visibility: visible;
    }
    .profile-img {
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    .about-text {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.3rem;
    }
    
    .tech-imgs-block ul li {
        display: inline-block;
        padding: 0 1.5rem;
    }
    .tech-imgs {
        height: 6rem;
    }
    .skills .row-skills {
        padding: 0 2rem;
    }

    .skill-category {
        margin-bottom: 2rem;
    }
    .skill-category:nth-child(4) {
        margin-bottom: 0;
    }
}

@media (max-width: 415px) {
    .contactme p {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.2rem;
    }
    .tech-imgs-block ul li {
        display: inline-block;
        padding: 0 1.2rem;
    }
}
@media (max-width: 385px) {
    .contactme p {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.2rem;
    }
    .tech-imgs-block ul li {
        display: inline-block;
        padding: 0 1rem;
    }
}